.about {
  background-color: rgba(144, 238, 144, 0.445);
  width: 100%;
  height: 270px;;

  &__title {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    background-color: rgb(82, 126, 111);
    color: cornflowerblue;
    font-style: italic;
    margin-top: 20px;
    border: 2px solid cornflowerblue;
    border-radius: 50%;
    padding: 40px;
  }
}