.error {
  margin: 10vh auto 0;
  width: 100%;
  height: 300px;
  background-color: lightcoral;
  text-align: center;

  &__title {
    color: whitesmoke;
    line-height: 290px;
    text-decoration: underline;
    text-transform: uppercase;
  }
}