.post-page {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;

  &__h1 {
    text-align: center;
    margin: 20px 0 30px;
  }

  &__wpapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 2px solid teal;
    padding-top: 15px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: teal;
    text-decoration: underline;
  }

  &__body {
    font-style: italic;
    text-align: center;
    color: green;
    margin-bottom: 20px;
  }

  &__comments {
    padding: 0 40px;
  }

  &__comment {
    margin-bottom: 20px;
  }

  &__comment-email {
    margin-bottom: 5px;
    font-style: italic;
  }

  &__comment-body {
    font-style: italic;
    color: darkgray;
  }
}