.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: lightcyan;
  padding: 0 15px;
  border-bottom: 2px solid green;

  &__links {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  &__link {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgba(230, 230, 250, 0.89);
    list-style: none;
    padding: 3px 5px;
    border: 1px dotted teal;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(202, 202, 250, 0.849);
    }
  }
}
